.advantages {
  width: @width;
  display: flex;
  flex-direction: column;
  .bg-color(@white);
}

.advantages__list {
  .reset();

  &--live {
    margin-bottom: 40px;
  }
}

.advantages__title {
  .reset();
  .font-base(@fontBold; 18px; 26px;700);
  padding: 45px 32px 0 32px;
  text-align: center;

  &--city {
    .font-base(@fontBold; 18px; 26px;700);
    padding: 35px 20px 0 20px;
    text-align: center;
    border-top: 2px solid #d6d6d6;
    margin-right: 20px;
    margin-left: 20px;
  }

  &--live {
    .font-base(@fontBold; 18px; 26px;700);
    text-align: left;
    padding-left: 70px;
    padding-top: 41px;
    position: relative;
  }
}

.advantages__item {
  .reset();
  list-style: none;
  .bg-color(#eeeeee);
  .color(@black);

  &--blue {
    .bg-color(@blue);
    .color(@white);
  }

  &--live {
    .bg-color(@white);
    .color(@black);
  }
}

.advantages__description {
  .reset();
  .font-base(@fontRegular; 14px; 26px;400);
  padding: 44px 20px 26px 20px;
  text-align: center;
  color: #333333;

  &--city {
    padding: 20px 20px 0 20px;
  }

  &--city:last-of-type {
    padding-bottom: 36px;
  }

  &--live {
    padding: 20px 20px 0 70px;
    text-align: left;
  }
}

.advantages__item--blue > .advantages__description {
  color: #ffffff;
}

.advantages__item--blue > .advantages__title--city {
  border: none;
}

.advantages__img {
  .bg-color(#e3baa8);
}

.advantages__title--live > svg {
  position: absolute;
  top: 14px;
  left: 2px;
  fill: @blue;
  transform: scale(0.5);
}
