.feedback {
  width: @width;
  .bg-color(@white);
  text-align: center;

  &__title {
    .reset();
    .font-base(@fontBold; 18px; 26px;700);
    padding: 40px 20px 0 20px;
  }

  &__text {
    .reset();
    .font-base(@fontRegular; 14px; 24px;400);
    padding: 40px 20px 25px 20px;
    border-bottom: 1px solid #e5e5e5;
    color: #696969;
  }
}
