.footer {
  .bg-color(@white);
  .mg-auto();
  width: @width;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  .font-base(@fontBold; 21px; 26px;700);
  text-decoration: none;
  .color(@black);
  padding-top: 42px;

  &--developer {
    .font-base(@fontRegular; 14px; 26px;400);
    display: flex;
    margin-bottom: 36px;
  }
}

.footer__link--developer > svg {
  margin-left: 15px;

 &:hover {
    fill: #7faaca;
  }

  &:active {
    fill: #adadad;
  }
}

.footer__wrapper {
  margin-top: 40px;
}

