@fontRegular: "PT Sans";
@fontBold: "@{fontRegular}-Bold";
@font-url:ptsans;
@font-urlBold: ptsansbold;

.font(@fontName; @urlName; @weight: normal; @style: normal) {
  font-family: "@{fontName}",sans-serif;
  src: url("../fonts/@{urlName}.woff") format("woff"),url("../fonts/@{urlName}.woff2") format("woff2");
  font-weight: @weight;
  font-style: @style;
}

.font-base(@fontName;@fontSize;@font-height) {
  font-family: @fontName;
  font-size: @fontSize;
  line-height: @font-height;
}

@font-face {
  .font(@fontRegular;@font-url;);
}

@font-face {
  .font(@fontBold; @font-urlBold; bold;);
}

@blue:#81b3d2;
@white: #ffffff;
@dark-blue:#678fa8;
@light-blue:#9ac2db;
@width: 320px;
@black:#000000;


.bg-color(@color) {
  background-color: @color;
}

.color(@color) {
  color: @color;
}

.width(@width) {
  width: @width;
}

.height(@height) {
  height: @height
}

.mg-auto() {
  margin: 0 auto;
  padding: 0;
}

.pd(@tp:0;@rt:0;@bt:0;@lf:0) {
  padding-top: @tp;
  padding-right: @rt;
  padding-bottom: @bt;
  padding-left: @lf;
}
.visiully-hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

body {
  .mg-auto();
  .width(@width);
  .bg-color(@white);
  .font-base(@fontRegular;18px;40px);
  .color(@black);
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
