.page-main {
   width: 320px;
  .reset();
  .mg-auto();

  &__wrapper {
    display: block;
    position: relative;
    height: 389px;
    overflow: hidden;
  }

  &__back-image--back,
  &__back-image--full-text {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__triangle--mobile {
    position: absolute;
    bottom: 0;
    width: 320px;
    fill: #ffffff;
    height: 26px;
  }

  &__triangle--tablet,
  &__triangle--desktop {
    display: none;
  }

  &__back-image--back {
    height: 389px;
    .bg-color(#d7e5f0);
  }
}

.page-main__back-image {
  &--full-text {
    width: 280px;
    height: 213px;
    top: 87px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 768px;

    &__wrapper {
      .mg-auto();
      width: 768px;
      height: 518px;
    }

    &__back-image--back {
      height: 518px;
    }

    &__back-image--full-text {
      top: 77px;
      left: 50%;
      width: 460px;
      height: 350px;
    }

    &__triangle--tablet {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 768px;
      height: 57px;
    }

    &__triangle--mobile {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 1200px;

    &__wrapper {
      width: 1200px;
    }

    &__back-image--back {
      height: 518px;
      width: 1200px;
    }

    &__back-image--full-text {
      width: 460px;
      height: 350px;
    }

    &__triangle--desktop {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 1200px;
      height: 57px;
    }

    &__triangle--tablet {
      display: none;
    }
  }
}
