.page-main {
  .width(@width);
  .reset();
  .mg-auto();

  &__wrapper {
    display: block;
    margin-left: -220px;
    position: relative;
    min-height: 389px;
    overflow: hidden;
  }

  &__back-image--back,
  &__back-image--full-text {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__triangle--mobile {
    position: absolute;
    bottom: -63px;
    right: 0;
    width: 320px;
    fill: #ffffff;
  }

  &__triangle--tablet,
  &__triangle--desktop {
    display: none;
  }

  &__back-image--back {
    height: 389px;
    .bg-color(#d7e5f0);
    clip: rect(0 540px 389px 220px);
  }
}

.page-main__back-image {
  &--full-text {
    width: 280px;
    height: 213px;
    top: 87px;
    left: 70%;
    transform: translateX(-50%);
    opacity: 1;
  }
}

@media (min-width: @tablet-width) {
  .page-main {
    .width(@width);

    &__wrapper {
      .mg-auto();
      .width(@width);
      min-height: 518px;
    }

    &__back-image--back {
      min-height: 518px;
      clip: rect(0 768px 745px 0);
    }

    &__back-image--full-text {
      top: 77px;
      left: 50%;
      width: 460px;
      height: 350px;
    }

    &__triangle--tablet {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 768px;
      height: 57px;
      fill: #ffffff;
    }

    &__triangle--mobile {
      display: none;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    &__back-image--back {
      min-height: 518px;
      clip: rect(0 1200px 518px 0);
    }

    &__back-image--full-text {
      width: 460px;
      height: 350px;
    }

    &__triangle--desktop {
      display: block;
      position: absolute;
      bottom: -47px;
      right: 0;
      width: 1200px;
      fill: #ffffff;
    }

    &__triangle--tablet {
      display: none;
    }
  }
}
