.photo-main {
  width: @width;
  .reset();
  .mg-auto();

  &__wrapper {
    display: block;
    width: 768px;
    margin-left: -220px;
    position: relative;
    min-height: 143px;
    overflow: hidden;
    text-align: center;
  }

  &__back-image--back,
  &__back-image--text {
    position: absolute;
  }
}

.photo-main__back-image {
  &--back {
    .bg-color(#d7e5f0);
    height: 389px;
    top: -229px;
    left: 0;
    clip: rect(170px 540px 389px 220px);
  }

  &--text {
    width: 229px;
    height: 39px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
