.response__legend {
  display: flex;
  .font-base(@fontBold;18px;26px;700);
  padding: 17px 20px 18px 20px;
  margin: 0 auto;
  text-align: center;

  &--contact {
    padding-bottom: 18px;
  }

  &--write {
    padding-top: 11px;
    padding-bottom: 17px;
  }
}


.response {
  &__user,
  &__contact,
  &__comment,
  &__place,
  &__write {
    display: flex;
    flex-direction: column;
    border: none;
    .reset();
    margin-left: 20px;
    margin-right: 20px;
  }

  &__label {
    .font-base(@fontRegular;14px;21px;400);
    padding-bottom: 0;
    color: #333333;
    text-align: start;
  }

  &__label--strong,
  &__label--strong-place {
    .font-base(@fontBold;18px;26px;700);
    text-transform: none;
    position: relative;
    padding-top: 19px;
    padding-bottom: 24px;
    padding-left: 77px;
    color: inherit;

    &::before {
      display: inline-block;
      content: "";
      position: absolute;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      .bg-color(#f2f2f2);
      top: 4px;
      left: 0;
    }

    &:hover::before {
      .bg-color(#e5e5e5);
    }

    &:active::before {
      .bg-color(#d5d5d5);
    }
  }
}

.response__label--strong-place::before {
  border-radius: 5%;
}

.response__wrapper--contact > .response__label {
  text-align: left;
  padding: 5px 0 10px 22px;
}

input::-ms-clear {
  display: none;
}

input,
textarea {
  .bg-color(#f2f2f2);
  border: 3px solid #f2f2f2;
  height: 58px;
  .reset();
  padding-left: 20px;
  .font-base(@fontBold;18px;26px;700);
  color: @black;

  &:hover {
    .bg-color(#e5e5e5);
  }

  &:focus {
    .bg-color(#ffffff);
    outline-color: #e5e5e5;
  }
}

::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

input[name*="name"] {
  width: 190px;
  flex-grow: 2;
  margin-left: 16px;
}

input[type="tel"],
input[type="email"] {
  width: 227px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"]:checked + label::before {
  content: "";
  .bg-color(#333333);
  border: 17px solid #f2f2f2;
}

input[type="radio"]:checked + label:hover::before {
  border: 17px solid #e5e5e5;
}

input[type="radio"]:checked + label:active::before {
  .bg-color(#a4a4a4);
  border: 17px solid #d5d5d5;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  .bg-color(#f2f2f2);
  text-align: center;
  background-image: url("../img/icon-bg-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"]:checked + label:hover::before {
  .bg-color(#e5e5e5);
}

input[type="checkbox"]:checked + label:active::before {
  .bg-color(#d5d5d5);
  opacity: 0.6;
}

.response__write {
  display: flex;
  justify-content: stretch;
}

.response__textarea {
  height: 157px;
  width: 285px;
  padding: 13px 23px 0 18px;
}

.response__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &--user {
    height: 58px;
    margin-bottom: 23px;
  }

  &--contact {
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-bottom: 9px;
  }

  &--comment,
  &--place {
    flex-direction: row;
    justify-content: flex-start;
  }

  &--place {
    margin-bottom: 11px;
  }
}

.response__user,
.response__contact,
.response__comment,
.response__place {
  .brd-btm();
}

.response__contact {
  padding-bottom: 20px;
}

.response__comment {
  padding-bottom: 18px;
}

.response__place {
  padding-bottom: 8px;
}

.response__icon {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  position: relative;

  &::after {
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/icon-bg-phone.svg");
  }

  &--email::after {
    background-image: url("../img/icon-bg-mail.svg");
  }
}

.response__btn {
  display: block;
  color: @white;
  background-color: #81b3d2;
  .font-base(@fontBold; 21px; 26px;700);
  .reset();
  .mg-auto();
  width: 280px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 56px;
  text-transform: uppercase;
  border: none;
  .blue-action();

  &:disabled {
    .bg-color(#e5e5e5);
    color: #fdfdfd;

    &:hover {
      .bg-color(#e5e5e5);
      color: #fdfdfd;
    }
  }
}

@media (min-width: @tablet-width) {
  .response__user,
  .response__contact,
  .response__comment,
  .response__place,
  .response__write {
    border-bottom: none;
    margin: 0;
    .pad(60px;);
  }

  .response__legend {
    .font-base(@fontBold;21px;26px;700);
    .reset();
    .mg-auto;
    padding: 54px 0;

    &--place {
      width: 280px;
      padding-top: 23px;
      padding-bottom: 38px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 126px;
        height: 1px;
        background-color: #b2b2b2;
        top: 48px;
        left: -186px;
      }

      &::after {
        position: absolute;
        content: "";
        width: 126px;
        height: 1px;
        background-color: #b2b2b2;
        top: 48px;
        right: -186px;
      }
    }

    &--write {
      position: relative;
      width: 256px;
      padding-bottom: 56px;
      padding-top: 62px;
      margin: 0 auto;


      &::before {
        position: absolute;
        content: "";
        width: 126px;
        height: 1px;
        background-color: #b2b2b2;
        top: 73px;
        left: -186px;
      }

      &::after {
        position: absolute;
        content: "";
        width: 126px;
        height: 1px;
        background-color: #b2b2b2;
        top: 73px;
        right: -186px;
      }
    }

    &--contact {
      width: 280px;
      position: relative;
      padding-bottom: 9px;
      padding-top: 54px;


      &::before {
        position: absolute;
        content: "";
        width: 126px;
        height: 1px;
        background-color: #b2b2b2;
        top: 65px;
        left: -186px;
      }

      &::after {
        position: absolute;
        content: "";
        width: 126px;
        height: 1px;
        background-color: #b2b2b2;
        top: 65px;
        right: -186px;
      }
    }

    &--comment {
      width: 270px;
      text-align: left;
    }

    &--user {
      width: 267px;
      text-align: left;
      padding-bottom: 57px;
    }

    &--button {
      order: 6;
      margin: 0;
      padding: 0;
      position: relative;
      margin-right: 60px;
      width: 768px;

      &::after {
        content: "* – обязательные поля";
        position: absolute;
        pointer-events: none;
        cursor: default;
        right: 0;
        top: 78px;
        color: #333333;
        .font-base(@fontRegular;14px;26px;400);
      }
    }
  }

  .response {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;

    &__comment {
      flex-direction: column;
      order: 1;
      width: 334px;
      padding-right: 48px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 300px;
        background-color: #b2b2b2;
        top: 58px;
        right: -2px;
      }
    }

    &__user {
      flex-direction: column;
      order: 2;
      max-width: 384px;

      & .response__container {
        flex-direction: column;
      }
    }

    &__contact {
      flex-direction: column;
      order: 3;
      width: 100%;
      margin-top: -18px;
    }

    &__place {
      order: 4;
      width: 100%;
      display: flex;
      flex-direction: column;

      & .response__container {
        flex-direction: row;
      }
    }

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      &--contact {
        flex-direction: column;
      }
    }

    &__wrapper {
      &--user {
        width: 264px;
        margin-bottom: 22px;
      }

      &--place {
        .reset();
        width: 205px;
        margin-right: 25px;
        margin-bottom: 15px;
        margin-left: 30px;
      }

      &--comment {
        margin-bottom: 9px;
        width: 273px;
      }

      &--contact {
        margin-bottom: 11px;
      }
    }

    &__write {
      flex-direction: column;
      order: 5;
      width: 100%;
      margin-top: -22px;
    }

    &__btn {
      order: 6;
      width: 324px;
      margin-left: 60px;
      justify-content: start;
      margin-bottom: -11px;
      margin-top: 58px;
      outline: none;
      .blue-action();
    }

    &_label {
      flex: 1 2 auto;
    }

    &__textarea {
      height: 160px;
      min-width: 100%;
    }

    &__icon {
      margin-top: 9px;
    }
  }

  input[type="tel"],
  input[type="email"] {
    width: 100%;
  }

  input[name*="name"] {
    flex: 2 1 auto;
    width: 175px;
  }

  .response__wrapper--contact > .response__label {
    padding-top: 16px;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .response {
    margin-top: 5px;
    margin-bottom: -40px;

    &__label--strong-place {
      padding-left: 77px;
      padding-top: 15px;
    }

    &__wrapper--place {
      .reset();
      width: 199px;
      margin-right: 63px;

      &:nth-child(1) {
        width: 189px;
        margin-right: 71px;
      }

      &:nth-child(3) {
        width: 185px;
        margin-right: 49px;
      }
    }

    &__wrapper--place:last-child {
      margin-right: 0;
    }

    &__wrapper--contact {
      .reset();
      width: 400px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &:nth-child(1) {
        margin-right: 79px;
      }

      &:nth-child(2) {
        width: 480px;
      }
    }

    &__btn {
      margin-left: 120px;
      margin-top: 61px;
      width: 480px;
      position: relative;
    }

    &__wrapper--user {
      width: 400px;
    }

    &-none {
      display: none;
    }

    &__user,
    &__contact,
    &__comment,
    &__place,
    &__write {
      .pad(120px);
    }

    &__contact {
      margin-top: -20px;
    }

    &__comment {
      padding-right: 80px;
      width: 600px;
    }

    &__write {
      margin-top: -15px;
    }

    &__user {
      padding-left: 80px;
      width: 600px;
    }
  }

  .response__legend {
    &--user {
      margin-left: 0;
    }

    &--comment {
      letter-spacing: 0;
      margin-left: 80px;
    }

    &--contact {
      padding-bottom: 74px;

      &::before {
        width: 280px;
        top: 65px;
        left: -342px;
      }

      &::after {
        width: 280px;
        top: 65px;
        right: -342px;
      }
    }

    &--place {
      padding-top: 35px;
      padding-bottom: 40px;

      &::before {
        width: 280px;
        top: 58px;
        left: -342px;
      }

      &::after {
        width: 280px;
        top: 58px;
        right: -342px;
      }
    }

    &--write {
      padding-bottom: 57px;

      &::before {
        width: 280px;
        top: 76px;
        left: -342px;
      }

      &::after {
        width: 280px;
        top: 76px;
        right: -342px;
      }
    }

    &--button {
      margin-right: 120px;
      width: 1200px;
    }
  }

  input[name*="name"] {
    flex: 2 1 auto;
    width: 314px;
  }

  input[type="tel"],
  input[type="email"] {
    width: 317px;
  }

  .response__wrapper--contact > .response__label {
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 0;
    height: 58px;
  }

  .response__container {
    justify-content: start;
    margin-top: 0;
  }

  .response__container--contact {
    flex-direction: row;
    height: 58px;
  }

  .response__icon {
    margin: 0;
  }
}
