.response__legend {
  .font-base(@fontBold;18px;26px;700);
  padding: 17px 20px 18px 20px;
  text-align: center;
}

.response__contact > .response__legend {
  padding-bottom: 26px;
}

.response__ {
  &user,
  &contact,
  &comment,
  &place,
  &write {
    border: none;
    .reset();
    margin-left: 20px;
    margin-right: 20px;
  }

  &label {
    .font-base(@fontRegular;14px;21px;400);
    padding-bottom: 0;
    color: #333333;
    text-align: start;
  }

  &label--strong,
  &label--strong-place {
    .font-base(@fontBold;18px;26px;700);
    text-transform: none;
    position: relative;
    padding-top: 19px;
    padding-bottom: 24px;
    padding-left: 77px;
    color: inherit;

    &::before {
      display: inline-block;
      content: "";
      position: absolute;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      .bg-color(#f2f2f2);
      top: 4px;
      left: 0;
    }

    &:hover::before {
      .bg-color(#e5e5e5);
    }

    &:active::before {
      .bg-color(#d5d5d5);
    }
  }
}

.response__label--strong-place::before {
  border-radius: 5%;
}

.response__wrapper--contact > .response__label {
  text-align: start;
  padding-left: 22px;
}

input,
textarea {
  .bg-color(#f2f2f2);
  border: none;
  height: 58px;
  .reset();
  padding-left: 20px;
  .font-base(@fontBold;18px;26px;700);
  color: @black;

  &:hover {
    .bg-color(#e5e5e5);
  }

  &:focus {
    .bg-color(#ffffff);
    outline-color: #e5e5e5;
  }
}

::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

input[name*="name"] {
  width: 190px;
  flex-grow: 2;
  margin-left: 16px;
}

input[type="tel"],
input[type="email"] {
  width: 227px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"]:checked + label::before {
  content: "";
  .bg-color(#333333);
  border: 17px solid #f2f2f2;
}

input[type="radio"]:checked + label:active::before {
  color: #a4a4a4;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  .bg-color(#f2f2f2);
  text-align: center;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"]:checked + label:hover::before {
  .bg-color(#e5e5e5);
}

input[type="checkbox"]:checked + label:active::before {
  .bg-color(#d5d5d5);
  opacity: 0.6;
}

.response__write {
  display: flex;
  justify-content: stretch;
}

.response__textarea {
  min-height: 157px;
  min-width: 285px;
  padding: 13px 36px 0 24px;
}

.response__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &--user {
    height: 58px;
    margin-bottom: 23px;
  }

  &--contact {
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    margin-bottom: 25px;
  }

  &--comment,
  &--place {
    flex-direction: row;
    justify-content: flex-start;
  }

  &--place {
    margin-bottom: 8px;
  }
}

.response__user,
.response__contact,
.response__comment,
.response__place {
  .brd-btm();
}

.response__contact {
  margin-bottom: 9px;
}

.response__comment {
 padding-bottom: 18px;
}

.response__place {
 padding-bottom: 18px;
}

.response__icon {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  position: relative;

  &::after {
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/icon-phone.svg");
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
  }
}

.response__btn {
  display: block;
  color: @white;
  background-color: #81b3d2;
  .font-base(@fontBold; 21px; 26px;700);
  .reset();
  .mg-auto();
  width: 280px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 52px;
  text-transform: uppercase;
  border: none;
  .blue-action();
}

@media (min-width: @tablet-width) {
  .response__user,
  .response__contact,
  .response__comment,
  .response__place,
  .response__write {
    border-bottom: none;
    margin: 0;
    .pad(60px;);
  }

  .response__wrapper--contact > .response__label {
    padding-top: 20px;
  }

  .response {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;

    &__legend {
      .font-base(@fontBold;21px;26px;700);
      .reset();
      padding-top: 54px;
      padding-bottom: 54px;
    }

    &__comment {
      order: 1;
      width: calc(100% / 2);
      position: relative;

      &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 290px;
        background-color: #b2b2b2;
        bottom: 35px;
        right: 0;
      }
    }

    &__user {
      order: 2;
      max-width: calc(100% / 2);
    }

    &__contact {
      order: 3;
      width: 100%;
      margin-top: -18px;
    }

    &__place {
      order: 4;
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      &--contact {
        flex-direction: column;
      }
    }

    &__wrapper--user {
      width: 264px;
      margin-bottom: 22px;
    }

    &__wrapper--place {
      .reset();
      width: 205px;
      margin-right: 25px;
      margin-bottom: 15px;
      margin-left: 30px;
    }

    &__wrapper--comment {
      margin-bottom: 9px;
    }

    &__wrapper--contact {
      margin-bottom: 2px;
    }

    &__write {
      order: 5;
      width: 100%;
      margin-top: -22px;
    }

    &__btn {
      order: 6;
      width: 324px;
      margin-left: 60px;
      justify-content: start;
      margin-bottom: -11px;
      margin-top: 58px;

      &::after {
        content: "* - обязательные поля";
        position: absolute;
        right: -140px;
        color: #333333;
        .font-base(@fontRegular;14px;26px;400);
        margin-right: 200px;
      }
    }

    &_label {
      flex: 1 2 auto;
    }

    &__icon {
      margin-top: 9px;
    }
  }

  input[type="tel"],
  input[type="email"] {
    width: 100%;
  }

  .response__textarea {
    min-height: 160px;
    min-width: 100%;
  }

  input[name*="name"] {
    flex: 2 1 auto;
    width: 175px;
  }

  .response__comment > .response__legend {
    text-align: start;
    letter-spacing: -0.2px;
  }

  .response__user > .response__legend {
    text-align: start;
    padding-bottom: 57px;
  }

  .response__place > .response__legend {
    width: 227px;
    padding-bottom: 38px;
  }

  .response__contact > .response__legend {
    padding-bottom: 9px;
    padding-top: 54px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 126px;
      height: 1px;
      background-color: #b2b2b2;
      bottom: 22px;
      left: -186px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 126px;
      height: 1px;
      background-color: #b2b2b2;
      bottom: 22px;
      right: -186px;
    }
  }
}

@media (min-width: @desktop-width) {
  .response {
    margin-top: 5px;
    margin-bottom: -40px;

    &__label--strong-place {
      padding-left: 77px;
      padding-top: 15px;
    }

    &__wrapper--place {
      .reset();
      width: 199px;
      margin-right: 63px;

      &:nth-child(1) {
        width: 188px;
        margin-right: 71px;
      }

      &:nth-child(3) {
        width: 185px;
        margin-right: 49px;
      }
    }

    &__wrapper--place:last-child {
      margin-right: 0;
    }

    &__wrapper--contact {
      .reset();
      min-width: 400px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &:nth-child(1) {
        margin-right: 80px;
      }
    }

    &__btn {
      margin-left: 120px;
      margin-top: 57px;
      width: 480px;
      position: relative;
    }

    &__wrapper--user {
      max-width: 400px;
    }

    &-none {
      display: none;
    }

    &__user,
    &__contact,
    &__comment,
    &__place,
    &__write {
      .pad(120px);
    }

    &__contact {
      margin-top: -20px;
    }

    &__comment {
      padding-right: 80px;
    }

    &__write {
      margin-top: -15px;
    }

    &__user {
      padding-left: 80px;
    }

    &__btn::after {
      content: "* - обязательные поля";
      position: absolute;
      right: -677px;
      top: 16px;
      color: #333333;
      .font-base(@fontRegular;14px;26px;400);
      margin-right: 200px;
    }
  }

  input[name*="name"] {
    flex: 2 1 auto;
    width: 314px;
  }

  input[type="tel"],
  input[type="email"] {
    width: 317px;
  }

  .response__comment > .response__legend {
    letter-spacing: 0;
    margin-left: 80px;
  }

  .response__contact > .response__legend {
  padding-bottom: 74px;

    &::before {
      position: absolute;
      content: "";
      width: 276px;
      height: 1px;
      background-color: #b2b2b2;
      bottom: 87px;
      left: -342px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 276px;
      height: 1px;
      background-color: #b2b2b2;
      bottom: 87px;
      right: -342px;
    }
  }

  .response__wrapper--contact > .response__label {
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 0;
    height: 58px;
  }

  .response__place > .response__legend {
    padding-bottom: 40px;
  }

  .response__container {
    justify-content: start;
    margin-top: 0;
  }

  .response__container--contact {
    flex-direction: row;
    height: 58px;
  }

  .response__icon {
    margin: 0;
  }

  .response__write > .response__legend {
      padding-bottom: 60px;
  }
}
