.search {
  .bg-color(@white);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__link {
    text-decoration: none;
    display: block;
    color: @white;
    background-color: #81b3d2;
    .font-base(@fontBold; 21px; 26px;700);
    letter-spacing: -1px;
    .reset();
    .mg-auto();
    width: 280px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 49px;
    .blue-action();

    :disabled {
      .bg-color(#e5e5e5);
      color: #fdfdfd;
    }
  }
}

.search__text {
  .reset();
  .font-base(@fontRegular; 14px; 24px;400);
  padding: 22px 20px 0;
  text-align: center;
  color: #333333;

  &--tablet {
    display: none;
  }

  &--title {
    .font-base(@fontBold; 21px; 26px;700);
    color: inherit;
  }
}

.search__map {
  .bg-color(#cadfaa);
  position: absolute;
  top: 0;
  left: 0;
}

.search__wrapper {
  display: block;
  width: @width;
  height: 350px;
  position: relative;

  iframe {
    position: absolute;
    height: 350px;
    z-index: 2;
    top: 0;
    left: 0;
  }
}

@media (min-width: @tablet-width) {
  .search__text {
    width: 456px;
    padding-top: 49px;
    padding-bottom: 32px;


    &--mobil {
      display: none;
    }

    &--tablet {
      display: block;
      .reset();
    }

    &--title {
      .font-base(@fontBold;30px;26px;700);
      padding-top: 49px;
    }
  }

  .search__link {
    width: 460px;
    margin-top: 44px;
    margin-bottom: 69px;
  }

  .search__map {
    .width(@width);
  }

  .search__wrapper {
    margin-bottom: -53px;
  }
}

@media (min-width: @desktop-width) {
  .search__wrapper {
    margin-bottom: -90px;
  }

  .search__link {
    margin-top: 48px;
  }
}
