.site-list__item a {
  border-bottom: 1px solid @dark-blue;
  border-top: 1px solid @light-blue;
  .blue-action();
  position: relative;
}

.site-list__item:last-child {
  box-shadow: inset 0 -4px 2px 0 #76a4c1;
}

.site-list__item:first-child {
  border-top: none;
}

.site-list__icon--cross {
  fill: #ffffff;
  position: absolute;
  top: 13px;
  right: 20px;
  height: 22px;
  width: 23px;
}

@media (min-width: @tablet-width) {
  .site-list {
    .mg-auto();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: @width;
  }

  .site-list__item a,
  .site-list__item {
    border: none;
    box-shadow: none;
  }

  .site-list__item a {
    .black-action();
  }

  .site-list__item--active a {
    .black-action--active();
  }

  .site-list__icon--cross {
    display: none;
  }

  .site-list__item {
    &:last-child {
      box-shadow: none;
      margin-right: 30px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      flex-grow: 2;
    }

    &:nth-child(2) {
      margin-left: -5px;
    }

    &:nth-child(3) {
      margin-right: -55px;
    }

    &:nth-child(1) {
      margin-left: 27px;
    }
  }
}

@media (min-width: @desktop-width) {
  .site-list {
    width: @width;

    &__item:nth-child(1) {
      margin-left: 55px;
    }

    &__item:nth-child(2) {
      margin-left: -65px;
    }

    &__item:nth-child(3) {
      margin-right: -65px;
    }

    &__item:nth-child(4) {
      margin-right: 55px;
    }
  }
}
