.social {
  display: flex;
  flex-direction: row;

  &__item {
    position: relative;
  }
}

.social__list {
  display: flex;
  flex-direction: row;
  .reset();
  list-style: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  .bg-color(@blue);
  margin-right: 7px;
  .blue-action();
}

.social__item:nth-child(3) a {
  margin-right: 0;
}

.social__icon {
  fill: @white;
  width: 20px;
  height: 14px;
  .blue-action();

  &--facebook {
    width: 9px;
    height: 18px;
  }
}
